This program cleans the data on the prediction of well functionality.

In [37]:
import pandas as pd
import numpy as np
import os

In [11]:
os.chdir("C:\\Users\\Xiaotong\\Desktop\\wells")

In [13]:
df1 = pd.read_csv("training.csv")
df2 = pd.read_csv("labels.csv")

In [14]:
df =pd.merge(df2, df1, on="id", how="left")

In [17]:
df.date_recorded = pd.to_datetime(df.date_recorded)

In [18]:
df.head(3)

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,functional,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe

In [34]:
for col in df.columns:
    if df[col].dtype == df.funder.dtype:
        df[col] = df[col].str.lower()

In [44]:
for col in df.columns:
    print("column: %s is of type %s" %(col, df[col].dtype))

column: id is of type int64
column: status_group is of type object
column: amount_tsh is of type float64
column: date_recorded is of type datetime64[ns]
column: funder is of type object
column: gps_height is of type int64
column: installer is of type object
column: longitude is of type float64
column: latitude is of type float64
column: wpt_name is of type object
column: num_private is of type int64
column: basin is of type object
column: subvillage is of type object
column: region is of type object
column: region_code is of type int64
column: district_code is of type int64
column: lga is of type object
column: ward is of type object
column: population is of type int64
column: public_meeting is of type float64
column: recorded_by is of type object
column: scheme_management is of type object
column: scheme_name is of type object
column: permit is of type float64
column: construction_year is of type int64
column: extraction_type is of type object
column: extraction_type_group is of type object
column: extraction_type_class is of type object
column: management is of type object
column: management_group is of type object
column: payment is of type object
column: payment_type is of type object
column: water_quality is of type object
column: quality_group is of type object
column: quantity is of type object
column: quantity_group is of type object
column: source is of type object
column: source_type is of type object
column: source_class is of type object
column: waterpoint_type is of type object
column: waterpoint_type_group is of type object

In [60]:
df.groupby("waterpoint_type")["id"].count()

waterpoint_type
cattle trough                    116
communal standpipe             28522
communal standpipe multiple     6103
dam                                7
hand pump                      17488
improved spring                  784
other                           6380
Name: id, dtype: int64